@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-up {
  from { transform: translateY(0); }
  to   { transform: translateY(-50%); }
}

@keyframes scroll-down {
  from { transform: translateY(-50%); }
  to   { transform: translateY(0); }
}
